@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

html,
body {
	background-color: #ddebf7;
}

* {
	font-family: "Geist", sans-serif;
	font-optical-sizing: auto;
}

@theme {
	--font-geist: "Geist", sans-serif;
	--font-inter: "Inter", sans-serif;
}
